header {
    background-color: #FFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    top: 0;
    position: fixed;
}

.logo {
    background-image: url("../PNG/logo.png");
    width: 142px;
    height: 60px;
}