header {
    background-color: #FFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    line-height: 70px;
}

.logo {
    background-image: url("../images/logo.png");
    width: 142px;
    height: 60px;
}